.header {
  border-bottom: 2px solid black;
  text-align: center;
}

.quote-container {
  text-align: center;
}

.quote {
  border: 1px solid black;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%
}

.add-quote {
  text-align: center;
  margin: 20px;
  border: 2px solid black;
  background-color: grey;
}

.add-quote-form {
  margin-bottom: 20px;
}
